

.main{
    position: relative;
    z-index: 0;
}

.mask{
    height:100%;
    width:100%;
    background: rgb(255, 255, 255 ,0.5);
}

.reel{
    position: absolute;
    z-index: 1;
    height:100%;
    width:100%;
}



.container1{
    width: 50%;
    height: 40% !important;
    position: relative;
    z-index: 3;
    margin: 0 auto;
}


.title2{
    position: relative;
    z-index: 3;
    width: 60%;
    font-size: 1.1em;
    padding-top: 0%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: -65%;
}

.text2{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 25%;
    font-size: 1em;
    padding-top: 0%;
    margin: 0 auto;
    margin-top: 10%;
}

@media (min-height:800px){
    .text2{
        font-size: 1.1em;
    }
}



@media (max-height:700px){
    .text2{
        font-size: 0.9em;
    }
}

@media (max-height:600px){
    .text2{
        font-size: 0.8em;
    }
}


.next2{
    border-color: #E46B6B;
    color: #E46B6B;
    position: relative;
    z-index: 3;
    border: #E46B6B 4px solid ;
    border-radius: 30%;
    width: 12.5%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    text-decoration:none;
    display: inline;
    padding: 2%;
}

.previous{
    border-color: #E46B6B;
    color: #E46B6B;
    position: relative;
    z-index: 3;
    border: #E46B6B 4px solid ;
    border-radius: 20%;
    width: 45%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 25%;
    text-decoration:none;
    display: inline;
    padding: 2%;
}

.btn1{
    width: 100%;
    height: 20%;
    margin-top: 61.5%;
    text-align: center;
}


@media (max-height:800px){
    .btn1{
        margin-top: 55%;
    }
}

.back{
    position: absolute;
    z-index: 4;
    left: 7%;
    bottom: 5%;
}

.back1{
    position: absolute;
    z-index: 4;
    left: 8.5%;
    bottom: 2%;
    font-size: 1.3em;
    font-weight: bold;
}

.title1{
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
    margin-top: 35% !important;
    color: #C03B20;
}

.link {
    text-decoration: none;
  }