
.k-uni {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.k-team{
    background-image: url(./img/k-team.png);
    background-size: 40% 40%;
    background-position: center 10px;
}
.k-xz {
    background-image: url(./img/xiazi.png);
}

.k-lucky {
    background-image: url(./img/lucky.png);
}

.k-qc {
    background-image: url(./img/qc.png);
}

.k-kz {
    background-image: url(./img/kz.png);
}

.k-bg {
    background-image: url(./img/sy.png);
}

.k-back {
    background-image: url(./img/UI_Back@2x.png);
}

.k-slyxg {
    background-image: url(./img/senlinyunxg.png);
}

.k-jz {
    background-image: url(./img/jz.png);
}

.k-title {
    font-size: 25px;
    color: #363636;
    text-align: center;
    margin: 20px 0;
}

.k-info {
    font-size: 16px;
    color: #363636;
    text-align: left;
}
.k-nextBox {
    position: absolute;
    width: 200px;
    transform: translateX(-50%);
    height: 30px;
    bottom: 70px;
}
.k-turnText{
    width: 83px;
    height: 30px;
    color: #E46B6B;
    text-align: center;
    border: 3px solid #E46B6B;
    line-height: 24px;
    /* margin: 0 auto; */
    
    font-size: 18px;
    border-radius: 25px;
}
.k-backText {
    background-image: url(./img/k-back.png);
    /* width: 30px; */
    font-weight: bold;
    color: transparent;
    font-size: 20px;
    text-align: center;
}
.k-turnAnimation0,.k-turnAnimation2{
    transition: all .2s ease-in-out; 
    /* transition-timing-function: cubic-bezier(.32,-1.4,.02,1.76); */
}
.k-turnAnimation2{
    transform:scale(0);
}
.k-turnAnimation0{
    transform:scale(1);
}
.k-turnAnimation0.move{
    transform: scale(0);
}
.k-turnAnimation2.move{
    transform: scale(1);
}