*{
    font-family:uniStyle;
}
.k-uni {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.k-xz {
    background-image: url(./img/xiazi.png);
}

.k-lucky {
    background-image: url(./img/lucky.png);
}

.k-qc {
    background-image: url(./img/qc.png);
}

.k-kz {
    background-image: url(./img/kz.png);
}

.k-bg {
    background-image: url(./img/首页375812@2x.png);
}

.k-back {
    background-image: url(./img/UI_Back@2x.png);
}

.k-slyxg {
    background-image: url(./img/senlinyunxg.png);
}

.k-jz {
    background-image: url(./img/木犀宝典-卷轴@2x.png);
}

.k-title {
    font-size: 25px;
    color: #363636;
    text-align: center;
    margin: 20px 0;
}

.k-info {
    font-size: 16px;
    color: #363636;
    text-align: left;
}

.k-nextBox {
    position: absolute;
    width: 200px;
    transform: translateX(-50%);
    height: 30px;
}
.k-turnText{
    width: 83px;
    height: 30px;
    color: #E46B6B;
    text-align: center;
    border: 3px solid #E46B6B;
    /* margin: 0 auto; */
    
    font-size: 18px;
    border-radius: 25px;
}
.k-backText {
    font-weight: bold;
    color: #333333;
    font-size: 20px;
    text-align: center;
}
@font-face {
    font-family: 'uniStyle';
    src: url(./思源黑体\ \(5\).otf);
}
.k-turnAnimation0,.turnAnimation2{
    transition: all 0.2s; 
}
.k-turnAnimation2{
    transform:translateX(100%) scale(0);
}
.k-turnAnimation0{
    transform:scale(1);
}